<div class="container mt-1">
    <div class="jumbotron">
        <h1 class="display-4">Centro de Mensajes</h1>
        <ul id="messages"></ul>
        <form id="formChat" action="">
            <div>
                <input id="username" class="inputsChat" type="text" placeholder="Tu Nombre">
            </div>

            <input id="input" class="inputsChat" autocomplete="off" /><button>Send</button>
        </form>

    </div>
</div>