<div class="container mt-1">
	<div class="jumbotron">
		<h1 class="display-4">Centro de Mensajes (Compresión: <span id="compresion-info"></span>%)</h1>

		<br />

		<input type="mail" id="username" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email" />
		<input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu nombre" />
		<input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu apellido" />
		<input type="number" id="age" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu edad" />
		<input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu alias" />
		<input type="url" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu avatar (url)" />
		
		<hr />

		<div id="messages"></div>
		<form id="formChat" action="">
			<!-- <div>
                <input id="username" class="inputsChat" type="text" placeholder="Tu Nombre">
            </div> -->

			<input id="inputMensaje" class="inputsChat" autocomplete="off" /><button>
				Send
			</button>
		</form>
	</div>
</div>