<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
		<link rel="stylesheet" href="/css/invaders.css">
		<title>Not Found</title>
</head>

<body>

	<%- include('../partials/nav'); %>

		<%- include('../partials/invaders'); %>

			<%- include('../partials/footer'); %>
			<script type="text/javascript" src="js/invaders.js"></script>
</body>

</html>