<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Formulario POST</title>
</head>

<body>
    <%- include('../partials/nav'); %>

        <%- include('../partials/form'); %>

            <%- include('../partials/footer'); %>
</body>

</html>