<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
    <title>eCommerce</title>
</head>

<body>
	

	<%- include('../partials/nav'); %>

		<%- include('../partials/cardsProductos'); %>

			<%- include('../partials/footer'); %>
</body>

</html>