<!DOCTYPE html>
<html lang="es-419">

<head>
	<%- include('../partials/head'); %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<title>eCommerce</title>
</head>

<body>


	<%- include('../partials/nav'); %>

		<%- include('../partials/cardsProductos'); %>

			<%- include('../partials/footer'); %>
</body>

</html>