<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
    <title>Login</title>
</head>

<body>
	
	<%- include('../partials/nav'); %>

		<%- include('../partials/login'); %>

			<%- include('../partials/footer'); %>
</body>

</html>