<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <title>Logout</title>
        <link rel="stylesheet" href="/css/logout.css">
</head>

<body>
    <%- include('../partials/nav'); %>
        <div class="login-wrap">
            
        </div>

        <script src="/js/logout.js"></script>
</body>

</html>