<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <title>Logout</title>
        <style>
            .jumbotron {
                background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/884/897/products/e1207dc6-a3a8-4902-9486-913e6f4d46fe_nube-cb09ba1a2ea1ee9b5b16103095510551-1024-1024.jpg");
                background-size: 100%;
                height:100vh;
            }
        </style>
</head>

<body>
    <div class="jumbotron">
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</body>

</html>