<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/product.css">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Product Card UI Design</title>
        <!-- Vendor Script -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


</head>

<body>
    <%- include('../partials/nav'); %>

        <%- include('../partials/product'); %>

</body>

</html>