<div class="container mt-1">
    <div class="jumbotron">
        <h1 class="display-4">Ingrese Nuevo Producto</h1>

        <form class="my-4" action="/productos/new" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre del Producto</label>
                <input id="nombre" class="form-control" type="text" name="title" required>
            </div>
            <div class="form-group">
                <label for="excerpt">Resumen del Producto</label>
                <textarea id="excerpt" class="form-control" type="text" name="excerpt" required></textarea>
            </div>
            <div class="form-group">
                <label for="category">Categoria del Producto</label>
                <input id="category" class="form-control" type="text" name="category" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción del Producto</label>
                <textarea id="descripcion" class="form-control" type="text" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="codigo">Código del Producto</label>
                <input id="codigo" class="form-control" type="text" name="code" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input id="precio" class="form-control" type="number" step="0.01" name="price" required>
            </div>
            <div class="form-group">
                <label for="foto">URL Imagen del producto</label>
                <input id="foto" class="form-control" type="url" name="thumbnail">
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input id="stock" class="form-control" type="number" step="1" name="stock" required>
            </div>
            <button class="btn btn-success mt-3">Crear</button>
        </form>

        <a href="/productos/list-productos" type="button" class="btn btn-primary">Ver productos</a>
    </div>
</div>