<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<!-- AGREGAMOS DEFER, PARA QUE SE EJECUTE LUEGO DE CARGAR LA PAIGNA/DOM -->
<script defer src="/formIo.js"></script>
<title>PRODUCTOS_Sockets.IO</title>