
<p class="center">Invasores espaciales destruyeron esta página! Véngate de ellos!
    <br/> Use <span class="label label-danger">Space</span> para disparar <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> para moverte!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>
  
  <canvas id="space-invaders"/>