<div class="container">

    <div class="jumbotron mt-1">
        <h1 class="display-4">eCommerce</h1>
        <hr class="my-4">
        <% if(hayProductos){ %>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="thead-dark">
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                    </tr>
                    <%productos.forEach(function(producto) {%>
                        <tr>
                            <td>
                                <%=producto.title%>
                            </td>
                            <td>
                                <%=producto.price%>
                            </td>
                            <td><img width="50" src=<%=producto.thumbnail%> alt="<%=producto.title%>"></td>
                        </tr>
                        <%});%>
                </table>
                <hr class="mb-4">
            </div>
            <% } else{ %>
                <h3 class="alert alert-warning">No hay productos</h3>
                <% } %>

                    <a href="/ejs" type="button" class="btn btn-success">Crear un nuevo producto</a>

    </div>
</div>