<body>
	<div class="col-md-8 col-lg-6 col-xl-4 offset-md-4 login-box">

		<form class="form" role="form" action="/signup" method="POST">

			<div class="divider d-flex align-items-center my-4">
				<h2 class="text-center fw-bold mx-3 mb-0">Sign Up</h2>
			</div>

			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" id="form3Example1" class="form-control form-control-lg" name="username"
					placeholder="Valid email address" />
				<label class="form-label" for="form3Example1">Email address</label>
			</div>

			<!-- Password input -->
			<div class="form-outline mb-3">
				<input type="password" id="form3Example2" class="form-control form-control-lg" name="password"
					placeholder="Password" />
				<label class="form-label" for="form3Example2">Password</label>
			</div>

			<!-- Nombre input -->
			<div class="form-outline mb-4">
				<input type="name" id="form3Example3" class="form-control form-control-lg" name="nameLastname"
					placeholder="Name" />
				<label class="form-label" for="form3Example3">Nombre</label>
			</div>

			<!-- Direccion input -->
			<div class="form-outline mb-4">
				<input type="address" id="form3Example4" class="form-control form-control-lg" name="address"
					placeholder="Address" />
				<label class="form-label" for="form3Example4">Direccion</label>
			</div>

			<!-- Edad input -->
			<div class="form-outline mb-3">
				<input type="age" id="form3Example5" class="form-control form-control-lg" name="age"
					placeholder="Age" />
				<label class="form-label" for="form3Example5">Edad</label>
			</div>

			<!-- Telefono input -->
			<div class="form-outline mb-4">
				<input type="phone" id="form3Example6" class="form-control form-control-lg" name="phone"
					placeholder="Valid phone" />
				<label class="form-label" for="form3Example6">Telefono</label>
			</div>

			<!-- FOTO input -->
			<div class="form-outline mb-4">
				<input type="thumbnail" id="form3Example7" class="form-control form-control-lg" name="thumbnail"
					placeholder="Avatar" />
				<label class="form-label" for="form3Example7">Avatar</label>
			</div>

			<div class="text-center text-lg-start mt-4 pt-2">
				<button class="btn btn-primary btn-lg"
					style="padding-left: 2.5rem; padding-right: 2.5rem;">Create Account</button>
				<p class="small fw-bold mt-2 pt-1 mb-0">Do have an account? <a href="/login" class="link-danger">Login</a>
				</p>
			</div>

		</form>
	</div>

</body>