<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <%- include('../partials/headFormIo'); %>
            <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</body>

</html>